<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "SPRLP/style.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Evaluate</title>
</head>
<body>
<div class="header">
    <div class="branding" onclick="window.location.href = '/'"><h3>Запись на практикум</h3></div>
    <div class="user-tools"><a href="/login">Личный кабинет</a></div>
</div>
<div class="schedule-week">
    <form method="post">
        {% csrf_token %}
        <table>
        <tr>
            <th>Название</th>
                    <th>Дата</th>
                    <th>Имя студента</th>
                    <th>Фамилия студента</th>
                    <th>Группа студента</th>
                    <th>Оценка</th>

        </tr>
            {% for task in tasks %}
                <tr>
                    <th>{{ task.task.name }}</th>
                    <th>{{ task.date }}</th>
                    <th>{{ task.student.first_name }}</th>
                    <th>{{ task.student.last_name }}</th>
                    {% for group in task.student.groups.all %}
                    {% if group.name != "Студент" %}<th>{{ group }}</th>{% endif %}
                    {% endfor %}
                    <th>Оценка:</th>
                    <th><select name="{{ task.id }}">
                        <option value="none">-</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></th>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" style="margin: 10px 0 0" value="Оценить">
    </form>
</div>
</body>
</html>